In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_data.csv')
df.head()

,Year,Economy,Economy Label,Sex,Sex Label,AgeClass,AgeClass Label,Absolute value in thousands_x,Series,Series Label,Persons per hundred persons aged 15-64,Annual average growth rate,Absolute value in thousands_y,Urban population as percentage of total population
0,1950,0,World,0,Both sexes,0,All age classes,2499322.166,7120.0,Total dependency ratio,66.242,1.73762,2499322.166,29.63511
1,1950,0,World,0,Both sexes,0,All age classes,2499322.166,7121.0,Old-age dependency ratio,8.528,1.73762,2499322.166,29.63511
2,1950,0,World,0,Both sexes,0,All age classes,2499322.166,7122.0,Child dependency ratio,57.714,1.73762,2499322.166,29.63511
3,1950,0,World,0,Both sexes,1,[0-4],341876.795,7120.0,Total dependency ratio,66.242,1.73762,2499322.166,29.63511
4,1950,0,World,0,Both sexes,1,[0-4],341876.795,7121.0,Old-age dependency ratio,8.528,1.73762,2499322.166,29.63511

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361410 entries, 0 to 6361409
Data columns (total 14 columns):
 #   Column                                              Dtype
---  ------                                              -----
 0   Year                                                int64
 1   Economy                                             int64
 2   Economy Label                                       object
 3   Sex                                                 int64
 4   Sex Label                                           object
 5   AgeClass                                            int64
 6   AgeClass Label                                      object
 7   Absolute value in thousands_x                       float64
 8   Series                                              float64
 9   Series Label                                        object
 10  Persons per hundred persons aged 15-64              float64
 11  Annual average growth rate                          float64
 12  Absolute value in thousands_y                       float64
 13  Urban population as percentage of total population  float64
dtypes: float64(6), int64(4), object(4)
memory usage: 679.5+ MB

In [10]:
print(df['Year'].nunique())
print(df['Year'].unique())

101
[1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963
 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977
 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019
 2020 2021 2022 2023 2024 2025 2026 2027 2028 2029 2030 2031 2032 2033
 2034 2035 2036 2037 2038 2039 2040 2041 2042 2043 2044 2045 2046 2047
 2048 2049 2050]

In [11]:
print(df['Economy'].nunique())
print(df['Economy'].unique())

313
[   0    1    4    8   12   16   20   24   28   31   32   36   40   44
   48   50   51   52   56   60   64   68   70   72   76   84   90   92
   96  100  104  108  112  116  120  124  132  136  140  144  148  152
  156  158  170  174  175  178  180  184  188  191  192  196  200  203
  204  208  212  214  218  222  226  230  231  232  233  234  238  242
  246  250  251  254  258  262  266  268  270  275  276  280  288  292
  296  300  304  308  312  316  320  324  328  332  336  340  344  348
  352  356  360  364  368  372  376  380  384  388  392  398  400  404
  408  410  414  417  418  422  426  428  430  434  438  440  442  446
  450  454  458  462  466  470  474  478  480  484  492  496  498  499
  500  504  508  512  516  520  524  528  530  531  533  534  535  540
  548  554  558  562  566  570  579  580  582  583  584  585  586  590
  591  598  600  604  608  616  620  624  626  630  634  638  642  643
  646  652  654  659  660  662  663  666  670  674  678  682  686  688
  690  694  702  703  704  705  706  710  716  720  724  728  729  732
  736  740  748  752  756  757  760  762  764  768  772  776  780  784
  788  792  795  796  798  800  804  807  810  818  826  830  833  834
  840  841  842  850  854  858  860  862  876  882  887  890  891  894
  926  960 1400 1410 1420 1430 1450 1460 1500 1520 1530 1540 1550 1560
 1600 1601 1610 1612 1614 1615 1620 1640 2621 2622 2623 2711 3412 3905
 3916 3919 5100 5110 5120 5121 5122 5123 5124 5200 5210 5220 5221 5222
 5223 5300 5320 5330 5340 5350 5400 5410 5420 5430 5440 5500 5600 5702
 5703 5704 5705 5706 5310]

In [12]:
print(df['Economy Label'].nunique())
print(df['Economy Label'].unique())

313
['World' 'Individual economies' 'Afghanistan' 'Albania' 'Algeria'
 'American Samoa' 'Andorra' 'Angola' 'Antigua and Barbuda' 'Azerbaijan'
 'Argentina' 'Australia' 'Austria' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Armenia' 'Barbados' 'Belgium' 'Bermuda' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Belize' 'Solomon Islands' 'British Virgin Islands'
 'Brunei Darussalam' 'Bulgaria' 'Myanmar' 'Burundi' 'Belarus' 'Cambodia'
 'Cameroon' 'Canada' 'Cabo Verde' 'Cayman Islands'
 'Central African Republic' 'Sri Lanka' 'Chad' 'Chile' 'China'
 'China, Taiwan Province of' 'Colombia' 'Comoros' 'Mayotte' 'Congo'
 'Congo, Dem. Rep. of the' 'Cook Islands' 'Costa Rica' 'Croatia' 'Cuba'
 'Cyprus' 'Czechoslovakia' 'Czechia' 'Benin' 'Denmark' 'Dominica'
 'Dominican Republic' 'Ecuador' 'El Salvador' 'Equatorial Guinea'
 'Ethiopia (...1991)' 'Ethiopia' 'Eritrea' 'Estonia' 'Faroe Islands'
 'Falkland Islands (Malvinas)' 'Fiji' 'Finland' 'France, metropolitan'
 'France' 'French Guiana' 'French Polynesia' 'Djibouti' 'Gabon' 'Georgia'
 'Gambia' 'State of Palestine' 'Germany' 'Germany, Federal Republic of'
 'Ghana' 'Gibraltar' 'Kiribati' 'Greece' 'Greenland' 'Grenada'
 'Guadeloupe' 'Guam' 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Holy See'
 'Honduras' 'China, Hong Kong SAR' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel' 'Italy'
 "Côte d'Ivoire" 'Jamaica' 'Japan' 'Kazakhstan' 'Jordan' 'Kenya'
 "Korea, Dem. People's Rep. of" 'Korea, Republic of' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Dem. Rep." 'Lebanon' 'Lesotho' 'Latvia' 'Liberia' 'Libya'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'China, Macao SAR' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Martinique' 'Mauritania'
 'Mauritius' 'Mexico' 'Monaco' 'Mongolia' 'Moldova, Republic of'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Oman' 'Namibia' 'Nauru'
 'Nepal' 'Netherlands (Kingdom of the)' 'Netherlands Antilles' 'Curaçao'
 'Aruba' 'Sint Maarten (Dutch part)' 'Bonaire, Sint Eustatius and Saba'
 'New Caledonia' 'Vanuatu' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'Niue' 'Norway' 'Northern Mariana Islands'
 'Pacific Islands, Trust Territory' 'Micronesia (Federated States of)'
 'Marshall Islands' 'Palau' 'Pakistan' 'Panama, excluding Canal Zone'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Guinea-Bissau' 'Timor-Leste' 'Puerto Rico' 'Qatar' 'Réunion'
 'Romania' 'Russian Federation' 'Rwanda' 'Saint Barthélemy' 'Saint Helena'
 'Saint Kitts and Nevis' 'Anguilla' 'Saint Lucia'
 'Saint Martin (French part)' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'San Marino' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Viet Nam' 'Slovenia' 'Somalia' 'South Africa' 'Zimbabwe'
 'Yemen, Democratic' 'Spain' 'South Sudan' 'Sudan' 'Western Sahara'
 'Sudan (...2011)' 'Suriname' 'Eswatini' 'Sweden' 'Switzerland'
 'Switzerland, Liechtenstein' 'Syrian Arab Republic' 'Tajikistan'
 'Thailand' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago'
 'United Arab Emirates' 'Tunisia' 'Türkiye' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine' 'North Macedonia'
 'Union of Soviet Socialist Republics' 'Egypt'
 'United Kingdom excl. Channel Islands and Isle of Man' 'Channel Islands'
 'Isle of Man' 'Tanzania, United Republic of'
 'United States of America excluding Puerto Rico and United States Virgin Islands'
 'United States of America including Puerto Rico'
 'United States of America' 'United States Virgin Islands' 'Burkina Faso'
 'Uruguay' 'Uzbekistan' 'Venezuela (Bolivarian Rep. of)'
 'Wallis and Futuna Islands' 'Samoa' 'Yemen'
 'Yugoslavia, Soc. Fed. Rep. of' 'Serbia and Montenegro' 'Zambia'
 'United Kingdom' 'Indonesia (...2002)' 'Developing economies'
 'Developing economies: Africa' 'Developing economies: Americas'
 'Developing economies: Asia' 'Developing economies: Oceania'
 'Developing economies: Asia and Oceania' 'Developed economies'
 'Developed economies: Americas' 'Developed economies: Asia'
 'Developed economies: Europe' 'Developed economies: Oceania'
 'Developed economies: Asia and Oceania'
 'Developing economies excluding China'
 'Developing economies excluding LDCs' 'LDCs (Least developed countries)'
 'LDCs: Asia' 'LDCs: Africa' 'LDCs: Islands and Haiti'
 'LLDCs (Landlocked developing countries)'
 'SIDS (Small island developing States) (UN-OHRLLS)'
 'High-income developing economies' 'Middle-income developing economies'
 'Low-income developing economies' 'BRICS' 'European Union (2020 …)'
 'OECD (Organisation for Economic Cooperation and Development)'
 'G20 (Group of Twenty)' 'G-77 (Group of 77)' 'Africa' 'Northern Africa'
 'Sub-Saharan Africa' 'Eastern Africa' 'Middle Africa' 'Southern Africa'
 'Western Africa' 'Americas' 'Northern America'
 'Latin America and the Caribbean' 'Caribbean' 'Central America'
 'South America' 'Asia' 'Southern Asia' 'Eastern Asia' 'Western Asia'
 'South-eastern Asia' 'Europe' 'Eastern Europe' 'Northern Europe'
 'Southern Europe' 'Western Europe' 'Oceania' 'Asia and Oceania'
 'Northern America and Europe' 'Central and Southern Asia'
 'Eastern and South-Eastern Asia' 'Western Asia and Northern Africa'
 'Europe, Northern America, Australia and New Zealand' 'Central Asia']

In [13]:
print(df['Sex'].nunique())
print(df['Sex'].unique())

3
[0 2 1]

In [14]:
print(df['Sex Label'].nunique())
print(df['Sex Label'].unique())

3
['Both sexes' 'Male' 'Female']

In [15]:
print(df['AgeClass'].nunique())
print(df['AgeClass'].unique())

22
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]

In [16]:
print(df['AgeClass Label'].nunique())
print(df['AgeClass Label'].unique())

22
['All age classes' '[0-4]' '[5-9]' '[10-14]' '[15-19]' '[20-24]' '[25-29]'
 '[30-34]' '[35-39]' '[40-44]' '[45-49]' '[50-54]' '[55-59]' '[60-64]'
 '[65-69]' '[70-74]' '[75-79]' '[80-84]' '[85-89]' '[90-94]' '[95-99]'
 '[100+]']

In [17]:
print(df['Absolute value in thousands_x'].nunique())
print(df['Absolute value in thousands_x'].unique())

930941
[2.49932217e+06 3.41876795e+05 2.67730584e+05 ... 1.27403190e+04
 4.39807800e+03 8.03540000e+02]

In [18]:
print(df['Series'].nunique())
print(df['Series'].unique())

3
[7120. 7121. 7122.]

In [19]:
print(df['Series Label'].nunique())
print(df['Series Label'].unique())

3
['Total dependency ratio' 'Old-age dependency ratio'
 'Child dependency ratio']

In [20]:
print(df['Persons per hundred persons aged 15-64'].nunique())
print(df['Persons per hundred persons aged 15-64'].unique())

54585
[66.242  8.528 57.714 ... 30.027 23.237 55.957]

In [21]:
print(df['Annual average growth rate'].nunique())
print(df['Annual average growth rate'].unique())

28027
[ 1.73762     1.39921977  1.21017    ... -0.34831     0.87446
 -0.10988   ]

In [22]:
print(df['Absolute value in thousands_y'].nunique())
print(df['Absolute value in thousands_y'].unique())

28488
[2499322.166       278501.14684478    7480.461      ... 2312468.345
  772632.761      1169443.028     ]

In [23]:
print(df['Urban population as percentage of total population'].nunique())
print(df['Urban population as percentage of total population'].unique())

27191
[29.63511    55.23505361  6.         ... 76.14752    72.71511
 85.78388   ]