In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_data.csv')

In [3]:
df.head()

,Year,Economy,Economy Label,Sex,Sex Label,AgeClass,AgeClass Label,Absolute value in thousands_x,Series,Series Label,Persons per hundred persons aged 15-64,Annual average growth rate,Absolute value in thousands_y,Urban population as percentage of total population
0,1950,0,World,0,Both sexes,0,All age classes,2499322.166,7120.0,Total dependency ratio,66.242,1.73762,2499322.166,29.63511
1,1950,0,World,0,Both sexes,0,All age classes,2499322.166,7121.0,Old-age dependency ratio,8.528,1.73762,2499322.166,29.63511
2,1950,0,World,0,Both sexes,0,All age classes,2499322.166,7122.0,Child dependency ratio,57.714,1.73762,2499322.166,29.63511
3,1950,0,World,0,Both sexes,1,[0-4],341876.795,7120.0,Total dependency ratio,66.242,1.73762,2499322.166,29.63511
4,1950,0,World,0,Both sexes,1,[0-4],341876.795,7121.0,Old-age dependency ratio,8.528,1.73762,2499322.166,29.63511

In [4]:
from sklearn.model_selection import train_test_split

In [7]:
train_df, temp_df = train_test_split(df, test_size=0.3, random_state=42)
val_df, test_df = train_test_split(temp_df, test_size=0.667, random_state=42)

In [8]:
print(train_df.shape)
print(test_df.shape)
print(val_df.shape)

(4452987, 14)
(1272919, 14)
(635504, 14)

In [9]:
train_df.to_csv('train_data.csv', index=False)
val_df.to_csv('validation_data.csv', index=False)
test_df.to_csv('test_data.csv', index=False)